body2 {
  background: #ffff;
}

nav {
  margin-bottom: 15px;
}

.card {
  margin-bottom: 10px;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.card-img {
  height: 200px;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-img, .card-author, .card-date, .card-descr {
  margin-bottom: 10px;
}

.card-btn {
  display: flex;
}

.card-btn a {
  margin-right: 10px;
}

.card-img_max {
  height: 400px;
}
